* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing:border-box;
}

body {
    background-color: rgb(196, 105, 105);
}

a:hover {
    color: rgb(5, 8, 80);
}

.recipe-list-container {
    margin: 2rem auto;
    padding: 2rem;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
    background-color: rgb(158, 153, 153);
    border-radius: 0.625rem;
    border: 1px solid rgb(43, 38, 38);
}

.recipe-list-container img {
    width: 67%;
    border-radius: 0.625rem;
    box-shadow: 0.625rem 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
    margin: 0.75rem 0;
}
.recipe-list {
    list-style-type: none;
}

.recipe-list li {
    font-size: 1rem;
    margin: 0.5rem;
}

.recipe-list-container h1 {
    font-size: 2rem;
}

.recipe-container {
    margin: 2rem auto;
    padding: 2rem;
    width: 67%;
    max-width: 600px;
    min-width:300px;
    text-align: left;
    background-color: rgb(158, 153, 153);
    border-radius: 0.625rem;
    border: 1px solid rgb(43, 38, 38);
}

.recipe-container h1 {
    margin: 0.5rem auto;
    text-align: center;
    font-size: 2rem;
}

.recipe-container h2 {
    margin: 0.5rem 0;
    font-size: 1.25rem
}

.recipe-container img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 16px auto;
    display: block;
}

.recipe-container ul li, .recipe-container ol li {
    margin: 8px 0;
    list-style-position: inside;
}

.recipe-container ul ul {
    padding-left: 20px;
}